Repository liupeirong/MLOpsManufacturing: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/01-pull-request.yml, .pipelines/02-processing-data.yml, .pipelines/03-train-evaluate-register-model.yml, .pipelines/06-validate-custom-amlstep-dockerfile.yml, .pipelines/07-processing-data-os-cmd.yml

Path conditions:
  .pipelines/01-pull-request.yml: any file but: .env.example, README.md, LICENSE
  .pipelines/02-processing-data.yml: any of: ml_model/preprocessing, ml_model/parameters.json, ml_service/pipelines/build_data_processing_pipeline.py, .pipelines/02-processing-data.yml, .pipelines/variables-template.yml, .pipelines/code-quality-template.yml, .pipelines/trigger-preprocessing-pipeline.yml
  .pipelines/03-train-evaluate-register-model.yml: any of: ml_model/training, ml_model/evaluate, ml_model/register, ml_model/util, ml_model/conda_dependencies.yml, ml_model/parameters.json, ml_service/pipelines/build_training_pipeline.py, .pipelines/03-train-evaluate-register-model.yml, .pipelines/get-model-id-artifact-template.yml, .pipelines/publish-model-artifact-template.yml, .pipelines/variables-template.yml, .pipelines/code-quality-template.yml
  .pipelines/06-validate-custom-amlstep-dockerfile.yml: any of: ml_model/preprocessing/Dockerfile
  .pipelines/07-processing-data-os-cmd.yml: any of: ml_model/preprocessing/Dockerfile, ml_model/preprocessing/preprocess_os_cmd.py, ml_service/pipelines/build_data_processing_os_cmd_pipeline.py, .pipelines/07-processing-data-os-cmd.yml, .pipelines/variables-template.yml, .pipelines/code-quality-template.yml, .pipelines/trigger-preprocessing-pipeline.yml

Add add env vars to .env.example
  .env.example
Due: none

Improvements for Observability Helper
  .env.example
  .pipelines/variables-template.yml
  ml_model/conda_dependencies.yml
  ml_model/evaluate/evaluate_model.py
  ml_model/preprocessing/preprocess_aml.py
  ml_model/register/register_model.py
  ml_model/training/train_aml.py
  ml_service/pipelines/build_data_processing_pipeline.py
  ml_service/util/env_variables.py
  ml_service/util/logger/app_insights_logger.py
  ml_service/util/logger/azure_ml_logger.py
  ml_service/util/logger/console_logger.py
  ml_service/util/logger/logger_interface.py
  ml_service/util/logger/observability.py
Due: .pipelines/01-pull-request.yml, .pipelines/02-processing-data.yml, .pipelines/03-train-evaluate-register-model.yml, .pipelines/07-processing-data-os-cmd.yml

Update script paths
  ml_service/pipelines/build_data_processing_os_cmd_pipeline.py
  ml_service/pipelines/build_data_processing_pipeline.py
  ml_service/pipelines/build_training_pipeline.py
Due: .pipelines/01-pull-request.yml, .pipelines/02-processing-data.yml, .pipelines/03-train-evaluate-register-model.yml, .pipelines/07-processing-data-os-cmd.yml

Add observability module to scripts
  ml_model/preprocessing/Dockerfile
  ml_model/preprocessing/preprocess_aml.py
  ml_model/preprocessing/preprocess_images.py
  ml_model/preprocessing/preprocess_os_cmd.py
  ml_model/register/register_model.py
  ml_model/training/train.py
  ml_model/training/train_aml.py
  ml_model/util/model_helper.py
  ml_service/pipelines/build_data_processing_os_cmd_pipeline.py
  ml_service/pipelines/build_data_processing_pipeline.py
  ml_service/pipelines/build_training_pipeline.py
  ml_service/pipelines/run_data_processing_pipeline.py
  ml_service/pipelines/run_training_pipeline.py
  ml_service/tests/util/test_app_insights_logger.py
  ml_service/util/logger/observability.py
Due: .pipelines/01-pull-request.yml, .pipelines/02-processing-data.yml, .pipelines/03-train-evaluate-register-model.yml, .pipelines/06-validate-custom-amlstep-dockerfile.yml, .pipelines/07-processing-data-os-cmd.yml

Changes to CI for observability
  .pipelines/code-quality-template.yml
  ml_model/ci_dependencies.yml
  ml_model/dev_dependencies.yml
Due: .pipelines/01-pull-request.yml, .pipelines/02-processing-data.yml, .pipelines/03-train-evaluate-register-model.yml, .pipelines/07-processing-data-os-cmd.yml

Fix log_metrics, adapt test to singleton pattern
  ml_service/tests/util/test_observability.py
  ml_service/util/logger/app_insights_logger.py
Due: .pipelines/01-pull-request.yml

Refactor CI dependency updates
  .pipelines/code-quality-template.yml
  .pipelines/trigger-preprocessing-pipeline.yml
  .pipelines/update-ci-dependencies.yml
Due: .pipelines/01-pull-request.yml, .pipelines/02-processing-data.yml, .pipelines/03-train-evaluate-register-model.yml, .pipelines/07-processing-data-os-cmd.yml

CI dependency template fix add to train pipe
  .pipelines/03-train-evaluate-register-model.yml
  .pipelines/update-ci-dependencies.yml
Due: .pipelines/01-pull-request.yml, .pipelines/03-train-evaluate-register-model.yml

Fix observability formatting
  ml_service/pipelines/run_data_processing_pipeline.py
  ml_service/pipelines/run_training_pipeline.py
Due: .pipelines/01-pull-request.yml

Activate env rebuild for aml pipeline tests
  .pipelines/variables-template.yml
Due: .pipelines/01-pull-request.yml, .pipelines/02-processing-data.yml, .pipelines/03-train-evaluate-register-model.yml, .pipelines/07-processing-data-os-cmd.yml

Fix parameters.json path reference
  ml_model/preprocessing/preprocess_aml.py
  ml_model/register/register_model.py
  ml_model/scoring/score.py
  ml_model/training/train_aml.py
Due: .pipelines/01-pull-request.yml, .pipelines/02-processing-data.yml, .pipelines/03-train-evaluate-register-model.yml

Fix logger usage in train.py
  ml_model/training/train.py
Due: .pipelines/01-pull-request.yml, .pipelines/03-train-evaluate-register-model.yml

Fix copy/paste error - print to file
  ml_model/training/train_aml.py
Due: .pipelines/01-pull-request.yml, .pipelines/03-train-evaluate-register-model.yml

Fix duplicate log entries, enrich custom dimension
  ml_model/evaluate/evaluate_model.py
  ml_model/preprocessing/preprocess_aml.py
  ml_model/preprocessing/preprocess_images.py
  ml_model/preprocessing/preprocess_os_cmd.py
  ml_model/register/register_model.py
  ml_model/training/train.py
  ml_model/training/train_aml.py
  ml_model/util/model_helper.py
  ml_service/pipelines/build_data_processing_os_cmd_pipeline.py
  ml_service/pipelines/build_data_processing_pipeline.py
  ml_service/pipelines/build_training_pipeline.py
  ml_service/pipelines/run_data_processing_pipeline.py
  ml_service/pipelines/run_training_pipeline.py
  ml_service/util/attach_compute.py
  ml_service/util/logger/app_insights_logger.py
  ml_service/util/logger/logger_interface.py
  ml_service/util/logger/observability.py
  ml_service/util/manage_environment.py
Due: .pipelines/01-pull-request.yml, .pipelines/02-processing-data.yml, .pipelines/03-train-evaluate-register-model.yml, .pipelines/07-processing-data-os-cmd.yml

Add appinsights cs (secret) to env-var
  .pipelines/02-processing-data.yml
  .pipelines/03-train-evaluate-register-model.yml
  .pipelines/04-deploy-model-aci.yml
  .pipelines/07-processing-data-os-cmd.yml
  .pipelines/trigger-preprocessing-pipeline.yml
  .pipelines/variables-template.yml
Due: .pipelines/01-pull-request.yml, .pipelines/02-processing-data.yml, .pipelines/03-train-evaluate-register-model.yml, .pipelines/07-processing-data-os-cmd.yml

change appinsights env variable name
  .env.example
  .pipelines/02-processing-data.yml
  .pipelines/03-train-evaluate-register-model.yml
  .pipelines/04-deploy-model-aci.yml
  .pipelines/07-processing-data-os-cmd.yml
  .pipelines/trigger-preprocessing-pipeline.yml
  ml_service/util/env_variables.py
  ml_service/util/logger/observability.py
Due: .pipelines/01-pull-request.yml, .pipelines/02-processing-data.yml, .pipelines/03-train-evaluate-register-model.yml, .pipelines/07-processing-data-os-cmd.yml

Fix log init if appinsights cs key is absent in vg
  ml_service/util/logger/observability.py
Due: .pipelines/01-pull-request.yml

Extend run env with log related variables
  ml_service/pipelines/build_data_processing_os_cmd_pipeline.py
  ml_service/pipelines/build_data_processing_pipeline.py
  ml_service/pipelines/build_training_pipeline.py
Due: .pipelines/01-pull-request.yml, .pipelines/02-processing-data.yml, .pipelines/03-train-evaluate-register-model.yml, .pipelines/07-processing-data-os-cmd.yml

Fix c&p error in register_loggers
  ml_service/util/logger/observability.py
Due: .pipelines/01-pull-request.yml

Add missing env to build_train_pipeline step
  .pipelines/03-train-evaluate-register-model.yml
Due: .pipelines/01-pull-request.yml, .pipelines/03-train-evaluate-register-model.yml

Optimize for AppInsights Application Map
  ml_model/evaluate/evaluate_model.py
  ml_model/preprocessing/preprocess_aml.py
  ml_model/preprocessing/preprocess_images.py
  ml_model/preprocessing/preprocess_os_cmd.py
  ml_model/register/register_model.py
  ml_model/training/train.py
  ml_model/training/train_aml.py
  ml_service/pipelines/build_data_processing_os_cmd_pipeline.py
  ml_service/pipelines/build_data_processing_pipeline.py
  ml_service/pipelines/build_training_pipeline.py
  ml_service/pipelines/run_data_processing_pipeline.py
  ml_service/pipelines/run_training_pipeline.py
  ml_service/util/logger/app_insights_logger.py
Due: .pipelines/01-pull-request.yml, .pipelines/02-processing-data.yml, .pipelines/03-train-evaluate-register-model.yml, .pipelines/07-processing-data-os-cmd.yml

Move end_span to finally block
  ml_model/evaluate/evaluate_model.py
  ml_model/preprocessing/preprocess_aml.py
  ml_model/preprocessing/preprocess_images.py
  ml_model/preprocessing/preprocess_os_cmd.py
  ml_model/register/register_model.py
  ml_model/training/train.py
  ml_model/training/train_aml.py
  ml_service/pipelines/build_data_processing_os_cmd_pipeline.py
  ml_service/pipelines/build_data_processing_pipeline.py
  ml_service/pipelines/build_training_pipeline.py
  ml_service/pipelines/run_data_processing_pipeline.py
  ml_service/pipelines/run_training_pipeline.py
  ml_service/util/logger/app_insights_logger.py
Due: .pipelines/01-pull-request.yml, .pipelines/02-processing-data.yml, .pipelines/03-train-evaluate-register-model.yml, .pipelines/07-processing-data-os-cmd.yml

Add refactor for subfolder sample
  samples/non-python-preprocess/.pipelines/01-pull-request.yml
  samples/non-python-preprocess/.pipelines/02-validate-custom-amlstep-dockerfile.yml
  samples/non-python-preprocess/.pipelines/03-processing-data-os-cmd.yml
  samples/non-python-preprocess/.pipelines/code-quality-template.yml
  samples/non-python-preprocess/.pipelines/variables-template.yml
  samples/non-python-preprocess/environment_setup/docker-image-pipeline.yml
  samples/non-python-preprocess/ml_model/ci_dependencies.yml
  samples/non-python-preprocess/ml_model/conda_dependencies.yml
  samples/non-python-preprocess/ml_model/dev_dependencies.yml
  samples/non-python-preprocess/ml_service/pipelines/build_data_processing_os_cmd_pipeline.py
  samples/non-python-preprocess/ml_service/tests/pipelines/test_build_data_processing_os_cmd_pipeline.py
  samples/non-python-preprocess/ml_service/tests/pipelines/test_fixtures.py
  samples/non-python-preprocess/ml_service/util/env_variables.py
Due: .pipelines/01-pull-request.yml

rename build agent pipeline
  samples/non-python-preprocess/environment_setup/build-agent-pipeline.yml
Due: .pipelines/01-pull-request.yml

fix include paths for build-agent
  samples/non-python-preprocess/environment_setup/build-agent-pipeline.yml
Due: .pipelines/01-pull-request.yml

Add wildcards to publish test/coverage results
  samples/non-python-preprocess/.pipelines/code-quality-template.yml
Due: .pipelines/01-pull-request.yml

Refactor azdo pipelines
  samples/non-python-preprocess/.pipelines/01-pull-request.yml
  samples/non-python-preprocess/.pipelines/03-processing-data-os-cmd.yml
  samples/non-python-preprocess/.pipelines/code-quality-template.yml
  samples/non-python-preprocess/.pipelines/trigger-preprocessing-pipeline.yml
  samples/non-python-preprocess/.pipelines/variables-template.yml
Due: .pipelines/01-pull-request.yml

Change runtime variable
  samples/non-python-preprocess/.pipelines/03-processing-data-os-cmd.yml
  samples/non-python-preprocess/ml_model/parameters.json
Due: .pipelines/01-pull-request.yml

change to chaining parameters
  samples/non-python-preprocess/.pipelines/03-processing-data-os-cmd.yml
Due: .pipelines/01-pull-request.yml

Optimize azdo pipeline trigger / pr sections
  samples/non-python-preprocess/.pipelines/01-pull-request.yml
  samples/non-python-preprocess/.pipelines/02-validate-custom-amlstep-dockerfile.yml
  samples/non-python-preprocess/.pipelines/03-processing-data-os-cmd.yml
Due: .pipelines/01-pull-request.yml

correct include list for aml pipeline deploy
  samples/non-python-preprocess/.pipelines/03-processing-data-os-cmd.yml
Due: .pipelines/01-pull-request.yml

Update non-python doc
  samples/non-python-preprocess/ml_model/preprocessing/README.md
Due: .pipelines/01-pull-request.yml

Refactor IaC components
  samples/non-python-preprocess/environment_setup/iac-create-environment-pipeline-arm.yml
  samples/non-python-preprocess/environment_setup/iac-remove-environment-pipeline.yml
  samples/non-python-preprocess/environment_setup/local_install_requirements.sh
Due: .pipelines/01-pull-request.yml

troubleshoot try previous CI docker image
  samples/image-classification-tensorflow/.env.example
  samples/image-classification-tensorflow/.pipelines/02-processing-data.yml
Due: .pipelines/01-pull-request.yml

revert az cli to previous ver for build agent
  samples/image-classification-tensorflow/environment_setup/Dockerfile
Due: .pipelines/01-pull-request.yml

try latest build agent with older azure cli
  samples/image-classification-tensorflow/.pipelines/02-processing-data.yml
Due: .pipelines/01-pull-request.yml

add wildcard to az cli minor version
  samples/image-classification-tensorflow/environment_setup/Dockerfile
Due: .pipelines/01-pull-request.yml

specify version of azure cli ml extension
  samples/image-classification-tensorflow/environment_setup/Dockerfile
Due: .pipelines/01-pull-request.yml
