Repository liupeirong/MLOpsManufacturing: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/03-train-evaluate-register-model.yml, .pipelines/05-create-scoring-docker-image.yml

.pipelines/03-train-evaluate-register-model.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Model_CI
    displayName: Model CI
    jobs:
    - job: Model_CI_Pipeline
      displayName: Model CI Pipeline
      container: mlops
      timeoutInMinutes: 0
      steps:
      - template: code-quality-template.yml
      - task: AzureCLI@1
        inputs:
  ...

.pipelines/05-create-scoring-docker-image.yml:
  pool:
    vmImage: ubuntu-latest
  container: mlops
  steps:
  - template: get-model-id-artifact-template.yml
    parameters:
      projectId: $(resources.pipeline.model-train-ci.projectID)
      pipelineId: $(resources.pipeline.model-train-ci.pipelineID)
      artifactBuildId: ${{ parameters.artifactBuildId }}
  ...

use the container with aml cli
  .pipelines/05-create-scoring-docker-image.yml
Due: none

clean up conda_dependencies
  ml_model/conda_dependencies.yml
Due: .pipelines/03-train-evaluate-register-model.yml

set Docker locale from POSIX to UTF8
  environment_setup/Dockerfile
Due: none

Paige (#2)
  .env.example
  .pipelines/02-processing-data.yml
  .pipelines/03-train-evaluate-register-model.yml
  .pipelines/04-deploy-model-aci.yml
  .pipelines/05-create-scoring-docker-image.yml
  .pipelines/package-model-template.yml
  .pipelines/publish-model-artifact-template.yml
  .pipelines/variables-template.yml
  environment_setup/Dockerfile
  ml_model/ci_dependencies.yml
  ml_model/conda_dependencies.yml
  ml_model/scoring/score.py
  ml_service/util/smoke_test_scoring_service.py
Due: .pipelines/03-train-evaluate-register-model.yml, .pipelines/05-create-scoring-docker-image.yml

fix linting
  ml_model/scoring/score.py
  ml_service/util/smoke_test_scoring_service.py
Due: .pipelines/05-create-scoring-docker-image.yml

enable pr trigger
  .pipelines/01-pull-request.yml
Due: none

docker pipeline shouldn't be triggered
  environment_setup/docker-image-pipeline.yml
Due: none

explicitly disable pr trigger
  environment_setup/docker-image-pipeline.yml
Due: none

Enable PR trigger (#3)
  .pipelines/01-pull-request.yml
  environment_setup/docker-image-pipeline.yml
  ml_model/scoring/score.py
  ml_service/util/smoke_test_scoring_service.py
Due: .pipelines/05-create-scoring-docker-image.yml

test pipeline
  .pipelines/03-train-evaluate-register-model.yml
  .pipelines/publish-model-artifact-template.yml
Due: .pipelines/03-train-evaluate-register-model.yml

reenable steps in pipeline after test
  .pipelines/03-train-evaluate-register-model.yml
  .pipelines/publish-model-artifact-template.yml
Due: .pipelines/03-train-evaluate-register-model.yml

Fixmain (#4)
  .pipelines/03-train-evaluate-register-model.yml
Due: .pipelines/03-train-evaluate-register-model.yml

test pipeline trigger
  .pipelines/04-deploy-model-aci.yml
Due: none

renam master to main
  .pipelines/01-pull-request.yml
  .pipelines/02-processing-data.yml
  .pipelines/03-train-evaluate-register-model.yml
  .pipelines/04-deploy-model-aci.yml
  .pipelines/05-create-scoring-docker-image.yml
  environment_setup/docker-image-pipeline.yml
  environment_setup/iac-create-environment-pipeline-arm.yml
Due: .pipelines/03-train-evaluate-register-model.yml

test pipeline trigger (#5)
  .pipelines/01-pull-request.yml
  .pipelines/02-processing-data.yml
  .pipelines/03-train-evaluate-register-model.yml
  .pipelines/04-deploy-model-aci.yml
  .pipelines/05-create-scoring-docker-image.yml
  environment_setup/docker-image-pipeline.yml
  environment_setup/iac-create-environment-pipeline-arm.yml
Due: .pipelines/03-train-evaluate-register-model.yml

build status badge
  .pipelines/01-pull-request.yml
  README.md
Due: none

disable default trigger (on all branches)
  .pipelines/04-deploy-model-aci.yml
  .pipelines/05-create-scoring-docker-image.yml
  README.md
Due: none

Build status badge (#6)
  .pipelines/01-pull-request.yml
  .pipelines/04-deploy-model-aci.yml
  .pipelines/05-create-scoring-docker-image.yml
  README.md
Due: none

Initial devcontainer setup verified on WSL2
  .devcontainer/README.md
  .devcontainer/devcontainer.json
  .devcontainer/image/Dockerfile
  .devcontainer/image/dockergid.sh
  .devcontainer/image/git-prompt.sh
  .devcontainer/image/ssh-agent.sh
  .gitignore
Due: none

Use unix line ending for git
  .gitattributes
Due: none

Upgrade guidiance on devcontainer
  .devcontainer/README.md
Due: none

Add feature description devcontainer
  .devcontainer/README.md
Due: none

use AML native link from model to run to dataset
  .pipelines/variables-template.yml
  README.md
  ml_model/preprocessing/preprocess_aml.py
  ml_model/register/register_model.py
  ml_model/training/train_aml.py
  ml_service/pipelines/build_data_processing_pipeline.py
  ml_service/pipelines/run_data_processing_pipeline.py
Due: .pipelines/03-train-evaluate-register-model.yml

lint
  ml_model/preprocessing/preprocess_aml.py
  ml_model/training/train_aml.py
Due: .pipelines/03-train-evaluate-register-model.yml

pipeline parent run doesn't have input dataset
  .pipelines/02-processing-data.yml
  ml_model/preprocessing/preprocess_aml.py
  ml_model/training/train_aml.py
  ml_service/pipelines/build_data_processing_pipeline.py
  ml_service/pipelines/build_training_pipeline.py
Due: .pipelines/03-train-evaluate-register-model.yml

test pipeline parameter has any effect
  .pipelines/02-processing-data.yml
Due: none

reduce training epoch for testing
  ml_model/parameters.json
Due: .pipelines/03-train-evaluate-register-model.yml

always register model for testing
  .pipelines/variables-template.yml
Due: .pipelines/03-train-evaluate-register-model.yml

only training run can register model
  ml_model/register/register_model.py
  ml_model/training/train_aml.py
Due: .pipelines/03-train-evaluate-register-model.yml

export run_id to pipeline instead of run output
  ml_model/register/register_model.py
  ml_model/training/train_aml.py
Due: .pipelines/03-train-evaluate-register-model.yml

get run
  ml_model/register/register_model.py
Due: .pipelines/03-train-evaluate-register-model.yml

get the training run in older sdk
  ml_model/register/register_model.py
Due: .pipelines/03-train-evaluate-register-model.yml

register model from run
  ml_model/register/register_model.py
Due: .pipelines/03-train-evaluate-register-model.yml

move param from file to pipeline param
  .pipelines/02-processing-data.yml
  ml_model/preprocessing/preprocess_aml.py
  ml_service/pipelines/build_data_processing_pipeline.py
Due: none

PipelineParameter can't be null
  ml_service/pipelines/build_data_processing_pipeline.py
Due: none

pipeline param syntax
  .pipelines/02-processing-data.yml
  .pipelines/variables-template.yml
  ml_model/preprocessing/preprocess_aml.py
Due: .pipelines/03-train-evaluate-register-model.yml

quotes in variable template
  .pipelines/variables-template.yml
Due: .pipelines/03-train-evaluate-register-model.yml

fix braces
  .pipelines/variables-template.yml
Due: .pipelines/03-train-evaluate-register-model.yml

yml spaces
  .pipelines/variables-template.yml
Due: .pipelines/03-train-evaluate-register-model.yml

yml mapping wasn't expected
  .pipelines/variables-template.yml
Due: .pipelines/03-train-evaluate-register-model.yml

Path conditions:
  .pipelines/03-train-evaluate-register-model.yml: any of: ml_model/training, ml_model/evaluate, ml_model/register, ml_model/util, ml_model/conda_dependencies.yml, ml_model/parameters.json, ml_service/pipelines/build_training_pipeline.py, .pipelines/03-train-evaluate-register-model.yml, .pipelines/get-model-id-artifact-template.yml, .pipelines/publish-model-artifact-template.yml, .pipelines/variables-template.yml, .pipelines/code-quality-template.yml
  .pipelines/05-create-scoring-docker-image.yml: any of: ml_model/scoring, but not: ml_model/scoring/deployment_config_aci.yml, ml_model/scoring/deployment_config_aks.yml
